.body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.custom-font{
    font-family: poppins;
    font-size: 15px;
}

.custom-font:hover{
    color: black;
}

.nav-item-width{
    width: 130px;
}