* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Bg image ------------------------------------------------------------------ */
.bgimage {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.bgimage::before {
  content: "";
  background-image: url("resources/shadow.jpg");
  /* background-image: url("resources/pair.png"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(15px); /* Adjust the blur intensity here */
  z-index: -100;
}

/* Bg image ------------------------------------------------------------------ */

.custom-font {
  font-family: poppins;
}

.custom-font:hover {
  color: black;
}

.nav-item-width {
  width: 140px;
}

.glass {
  background-color: rgba(143, 143, 143, 0.377);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.178);
  backdrop-filter: blur(5px);
}

.carasoularea {
  min-height: 60vh;
  margin-top: 50px;
  margin-bottom: 30px;
}

/* Caraousal -------------------------------------------------------------------------*/

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.carousel .carousel-indicators {
  bottom: 5px;
}

.carousel .carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  text-indent: -999px;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.carousel .carousel-indicators .active {
  margin: 11px 10px;
}

.carousel .carousel-indicators li {
  margin: 11px 10px;
}

.carousel .carousel-indicators .active {
  margin-top: 10px;
  transform: scale(1.5);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-item {
  position: relative;
  display: none;
  align-items: center;
  width: 100% !important;
  transition: transform 0.6s ease;
  backface-visibility: hidden;
  perspective: 1000px;
  border-radius: 20px;
}

.carousel-item.active {
  display: block;
}

.carousel .carousel-caption {
  padding-bottom: 45px;
}

.carousel .carousel-caption .material-icons {
  position: relative;
  top: 5px;
}

.carousel .carousel-control-next .material-icons {
  z-index: 5;
  display: inline-block;
  font-size: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  margin: auto;
}

.carousel .carousel-control-prev .material-icons {
  z-index: 5;
  display: inline-block;
  font-size: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  margin: auto;
}

/* Caraousal --------------------------------------------------------------------------------------------*/

/* Horizontal logo set div height -----------------------------------------------------------------------*/

.hldh {
  min-height: 30vh;
  margin-top: 50px;
}

.glass-look {
  background-color: rgba(255, 255, 255, 0.103);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  backdrop-filter: blur(15px);
}

.animate-effect:hover {
  transition: transform 0.4s ease;
  transform: scale(1.05);
  box-shadow: 0px 8px 16px rgba(255, 255, 255, 0.3);
}

/* Horizontal logo set div height -----------------------------------------------------------------------------*/

/* Product card area height------------------------------------------------------------------------------------ */

.pcah {
  /* min-height: 100vh; */
  margin-top: 60px;
}

.card {
  cursor: pointer;
}

/* Increase opacity and reduce blur for small devices */
@media (max-width: 576px) {
  .glass-look {
    background-color: rgba(255, 255, 255, 0.103);
    backdrop-filter: none;
    border: 1px solid rgba(255, 255, 255, 0.2); /* Optional: adjust border */
    border-radius: 20px;
  }

  .card-title,
  .card-text {
    font-size: 0.9rem; /* Slightly smaller font */
  }
}


/* Increase opacity and reduce blur for Medium devices */
@media (max-width: 768px) {
  .glass-look {
    background-color: rgba(255, 255, 255, 0.103);
    backdrop-filter: none;
    border: 1px solid rgba(255, 255, 255, 0.2); /* Optional: adjust border */
    border-radius: 20px;
  }

  .card-title,
  .card-text {
    font-size: 0.9rem; /* Slightly smaller font */
  }
}

/* Product card area height------------------------------------------------------------------------------------ */
